.panel .custom-gradient {
  background: rgba(3,45,130,1);
  background: -moz-linear-gradient(45deg, rgba(3,45,130,1) 0%, rgba(6,57,158,1) 52%, rgba(0,31,92,1) 100%);
  background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(3,45,130,1)), color-stop(52%, rgba(6,57,158,1)), color-stop(100%, rgba(0,31,92,1)));
  background: -webkit-linear-gradient(45deg, rgba(3,45,130,1) 0%, rgba(6,57,158,1) 52%, rgba(0,31,92,1) 100%);
  background: -o-linear-gradient(45deg, rgba(3,45,130,1) 0%, rgba(6,57,158,1) 52%, rgba(0,31,92,1) 100%);
  background: -ms-linear-gradient(45deg, rgba(3,45,130,1) 0%, rgba(6,57,158,1) 52%, rgba(0,31,92,1) 100%);
  background: linear-gradient(45deg, rgba(3,45,130,1) 0%, rgba(6,57,158,1) 52%, rgba(0,31,92,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#032d82', endColorstr='#001f5c', GradientType=1 );
}